doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        script(defer href="../script.js")
        title Document
    body 
        header.header 
            .container 
                ol.header__list 
                    li.header__list__item 
                        a(href="#").header__link
                            img(src="../assets/logo/myamazon logo.svg", alt="logo") 
                    li.header__list__item  
                        a(href="#").header__link.header__location
                            img(src="../assets/icon/Location Icon@2x.svg", alt="location").location__icon
                            p Deliver to #[br] #[span.header__location__span Pakistan ]
                    form.header__form
                         p.header__input--before All
                            img(src="../assets/icon/Dropdown icon@2x.svg", alt="icon").dropdown__icon_1

                         input(type="text" placeholder="").header__input
                         img(src="../assets/icon/Search Icon.svg", alt="search").search__icon.hamburger 

                    li.header__list__item
                        a(href="#").header__link.language__icon  
                            img(src="../assets/icon/united-states 1@2x.svg", alt="icon")
                            img(src="../assets/icon/Dropdown icon@2x.svg", alt="icon").dropdown__icon

                    li.header__list__item  
                        a(href="#").header__link.header__dropdown_1
                            p Hello, Sign in #[br] #[span.header__dropdown_1__span Account & Lists] 
                            img(src="../assets/icon/Dropdown icon@2x.svg", alt="icon").dropdown__icon_2 

                    li.header__list__item  
                        a(href="#").header__link
                            p Returns #[br] #[span.header__dropdown_1__span & Orders] 

                    li.header__list__item 
                        a(href="#").header__link.header__karzinka
                            img(src="../assets/icon/karzinka_icon.svg", alt="karzina") 
                            p.karzinka__desc #[span.header__karzinka__span Cart]

            nav.nav 
                .container 
                    ol.header__nav__list 
                        li.header__nav__list__item
                            a(href="#").header__nav__list__link.navbar 
                                img(src="../assets/icon/Navbar.svg", alt="nav")
                                p All

                        li.header__nav__list__item  
                            a(href="#").header__nav__list__link Today's Deals

                        li.header__nav__list__item  
                            a(href="#").header__nav__list__link Customer Service
                                 

                        li.header__nav__list__item  
                            a(href="#").header__nav__list__link Registry 
                                 

                        li.header__nav__list__item  
                            a(href="#").header__nav__list__link Gift Cards
                                

                        li.header__nav__list__item  
                            a(href="#").header__nav__list__link Sell

        section.hero 
            a(href="#")
                img(src="../assets/icon/Previous icon.svg", alt="slayder-left").slayder--left 
            a(href="#")
                img(src="../assets/icon/Vector (1).svg", alt="slayder-right").slayder--right

            .carts 
                .container 
                    ul.carts__list 
                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Gaming Accessories
                                img(src="../assets/image/carts__img1.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 40.00
                                    ins.carts__ins_2 $ 55.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (192)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop activity trackers and smartwatches
                                img(src="../assets/image/carts__img2.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 20.50
                                    ins.carts__ins_2 $ 25.00
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (176)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Dresses
                                img(src="../assets/image/carts__img3.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 15.00 
                                    ins.carts__ins_2 $ 18.00
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (201)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop school essentials
                                img(src="../assets/image/carts__img4.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 10.50
                                    ins.carts__ins_2 $ 15.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (97)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 New arrivals in Toys
                                img(src="../assets/image/carts__img5.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 40.50
                                    ins.carts__ins_2 $ 50.00
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (103)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop backpacks
                                img(src="../assets/image/carts__img6.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 14.50
                                    ins.carts__ins_2 $ 20.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (50)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop Laptops & Tablets
                                img(src="../assets/image/carts__img7.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 185.50
                                    ins.carts__ins_2 $ 200.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (304)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 For your Fitness Needs
                                img(src="../assets/image/carts__img8.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 12.00
                                    ins.carts__ins_2 $ 15.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (40)
                                a(href="#").bottom__link See More

        section.compyuter 
            .container 
                    h2.compyuter__h2 Top Sellers in Computers & Accessories
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img6.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img5.png", alt="rasm").compyuter__img 

        section.compyuter.home 
            .container 
                    h2.compyuter__h2 International top sellers in Home
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/home__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img6.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home__img7.png", alt="rasm").compyuter__img 

        
        
        
            
        .carts.school 
                .container 
                    ul.carts__list 
                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Back to school
                                img(src="../assets/image/school__img1.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 11.50
                                    ins.carts__ins_2 $ 15.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (58)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Computers & Accessories
                                img(src="../assets/image/school__img2.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 150.00
                                    ins.carts__ins_2 $ 180.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (156)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Health & Personal Care
                                img(src="../assets/image/school__img3.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 30.50 
                                    ins.carts__ins_2 $ 40.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (108)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Get fit at home
                                img(src="../assets/image/school__img4.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 15.50
                                    ins.carts__ins_2 $ 20.50
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (51)
                                a(href="#").bottom__link See More

        section.compyuter.baby 
            .container 
                    h2.compyuter__h2 Top Sellers in Baby Products for you
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/baby__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img6.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/baby__img5.png", alt="rasm").compyuter__img

        section.compyuter.home 
            .container 
                    h2.compyuter__h2 TInternational top sellers in Home Improvement
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/home2__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img6.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/home2__img5.png", alt="rasm").compyuter__img

        .carts.school 
                .container 
                    ul.carts__list 
                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop activity trackers and smartwatches

                                img(src="../assets/image/shop__img1.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 12.50
                                    ins.carts__ins_2 $ 15.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (155)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop school essentials
                                img(src="../assets/image/shop__img2.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 11.50
                                    ins.carts__ins_2 $ 15.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (58)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 New arrivals in Toys
                                img(src="../assets/image/shop__img3.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 18.50 
                                    ins.carts__ins_2 $ 20.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (115)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Kindle E readers
                                img(src="../assets/image/shop__img4.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 108.50
                                    ins.carts__ins_2 $ 130.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (125)
                                a(href="#").bottom__link See More

        section.compyuter.baby 
            .container 
                    h2.compyuter__h2 Popular products in Beauty internationally
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/beauty__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img6.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/beauty__img4.png", alt="rasm").compyuter__img

        section.compyuter.home 
            .container 
                    h2.compyuter__h2 Popular products in Apparel internationally
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/products__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img6.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/products__img6.png", alt="rasm").compyuter__img

        section.compyuter.home 
            .container 
                    h2.compyuter__h2 Top Sellers in Toys for you
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/toys__img1.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img2.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img6.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img7.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img3.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img4.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img5.png", alt="rasm").compyuter__img
                    img(src="../assets/image/toys__img1.png", alt="rasm").compyuter__img

        section.sign
            .container 
                .sign__main 
                    p.sign__desc1 See personalized recommendations
                    button.sign__btn Sign in
                    p.sign__desc2 New customer? #[span.sign__span Start here.]  

        

                        