@mixin row{
    display: flex;
    align-items:center;
}


.header{
    background-color: black;
    height: 80px;
    
    .container{
        padding-top: 7px;
        .header__list{
            @include row;
            justify-content: space-between;

            .header__location{
                @include row;
                gap: 9px;
                margin-left: -15px;
                margin-right: 10px;
            }

            .header__input{
                width: 502px;
                height: 40px;
                border:none;
                outline: none;
                font-size: 16px;
                line-height: 24px;
                /* font-weight: bold; */
            }

            .header__input[placeholder]{
                padding-left: 10px;
            }

            .search__icon{
                width: 10px;
                height: 10px;
            }

            .header__form{
                position: relative;
            }

            .search__icon {
                position: absolute;
                width: 45px;
                height: 40px;
                background-color: #F79B34;
                padding-top: 7px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                cursor: pointer;
            }

            .header__input--before{
                position: absolute;
                left: -41px;
                width: 45px;
                height: 40px;
                background-color: #E8E5E5;
                padding-top: 2px;
                padding-left: 5px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                @include row;
                gap: 5px;
            }

            .language__icon{
                @include row;
                gap: 5px;
            }

            .dropdown__icon{
                margin-top: 10px;
            }

            .header__dropdown_1{
                @include row;
                gap: 5px;
            }

            .dropdown__icon_2{
                margin-top: 5px;
                margin-left:5px;
            }

            .location__icon{
                margin-top: 9px;
            }

            .header__karzinka{
                @include row;
                gap: 2px;

                .karzinka__desc{
                    margin-top: 10px;
                }
            }


        }
    }
}


.header__location__span, .header__dropdown_1__span,.header__karzinka__span{
    font-weight: bold;
    font-size: 19px;
}

.language__icon  {
    margin-left: 20px;
}

.dropdown-toggle{
    background-color: transparent;
    color:#fff;
    border:none;
    outline: none;
}

.dropdown-menu{
    display: block;
}

.dropdown-menu:hover{
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 1s ease;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 335px;
    height: 570px;
    margin-left: -45px;
    margin-top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color:#fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 14px;
    line-height: auto;
    color:#8e8989;
    transition: all 1s ease;

  }

  .dropdown__main{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .dropdown__link__hover{
    line-height: auto;
    color:#8e8989;
    display: flex;
    gap: 100px;
  }

  .dropdown__heading{
    font-size: 18px;
    font-weight: bold;
    color:#000;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
    width: 309px;
    transition: all .4s ease;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }

  .item__bold{
    font-weight: bold;
    color:#000;
    font-size: 20px;
  }

  .dropdown__head{
    height: 50px;
    background-color: #283D56;
    margin-left: -20px;
    margin-right: -20px;
    width: 335px;  
    margin-top: -10px;
    display: flex;
    align-items:center;
    gap: 5px;
    padding-left: 20px;
}
