.hero{
    height: 500px;
    background-image: url(/assets/image/hero--bg-image.svg);
    margin-top: 38px;
    position: relative;
}

.slayder--left{
    position: absolute;
    top: 20%;
    left: 20px;
}

.slayder--right{
    position: absolute;
    top: 20%;
    right: 20px;
}