section.compyuter.home 
            .container 
                    h2.compyuter__h2 Top Sellers in Computers & Accessories
            .container 
                .compyuter__imgs
                    img(src="../assets/icon/Previous Rectangle__left.png", alt="next").next__slayder__left
                    img(src="../assets/icon/Next Rectangle__right.png", alt="next").next__slayder__right

                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img
                    img(src="../assets/image/compyuter__img.png", alt="rasm").compyuter__img 