            .carts 
                .container 
                    ul.carts__list 
                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Gaming Accessories
                                img(src="../assets/image/carts__img1.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 40.00
                                    ins.carts__ins_2 $ 55.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (192)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop activity trackers and smartwatches
                                img(src="../assets/image/carts__img2.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 20.50
                                    ins.carts__ins_2 $ 25.00
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (192)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Dresses
                                img(src="../assets/image/carts__img3.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 15.00 
                                    ins.carts__ins_2 $ 18.00
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (192)
                                a(href="#").bottom__link See More

                        li.carts__list__item 
                            a(href="#").carts__list__link
                                h3.carts__h3 Shop school essentials
                                img(src="../assets/image/carts__img4.png", alt="cart").carts__img 
                                p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                .ins 
                                    ins.carts__ins_1 $ 10.50
                                    ins.carts__ins_2 $ 15.50
                            
                            .cart--bottom 
                                .stars 
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                    img(src="../assets/icon/bi_star-fill.svg", alt="star")
                                p.bottom__ins (192)
                                a(href="#").bottom__link See More